*{
    margin: 0;
    padding: 0;
}
.box{
    font-family: "Sakkal Majalla";
    font-size: 100px;

}
.dong1{
    animation:dong 6s linear 1s infinite;
    position: absolute;
    top: 0;
    left:0;
    font-family: "Sakkal Majalla";
    font-size: 100px;
}
@keyframes dong {
    0%{left: 20px;top: 50px}
    25%{
        left: 500px;
        top: 200px;
        color: brown;
        font-family: AngsanaUPC;
        font-size: 40px;
        transform: rotateY(360deg);
    }
    50%{
        left: -50px;
        top: 250px;
        color: aqua;
        font-size: 80px;
        transform: rotateY(360deg);
    }
    75%{
        left: 300px;
        top: 400px;
        color: red;
        font-size: 60px;
        transform: rotateZ(90deg) rotateX(360deg) rotateY(90deg);
    }
    100%{
        left: 300px;
        top:-30px;
        color: brown;
        font-size: 50px;
        transform: rotateY(360deg) ;
    }
}
